# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Scanner output files
tokens.txt
lexical_errors.txt
symbol_table.txt

# Java/ANTLR related
*.class
*.jar
.antlr/

# OS specific
.DS_Store
Thumbs.db
.directory

# Editors
.idea/
.vscode/
*.swp
*.swo 

T*
antlr/antlr/Cminus.interp
antlr/antlr/CminusLexer.interp
antlr/antlr/CminusLexer.tokens
antlr/ANTLR_p1
antlr/antlr/Cminus.tokens
